.fira-sans-thin {
   font-family: "Fira Sans", serif;
   font-weight: 100;
   font-style: normal;
 }
 .Bangladesh{
  display: flex;
  background-color: aquamarine;
  margin: 0px 200px 0px 200px;
  padding: 40px;
  border-radius: 16px;
 }
 .Bangladesh-1{
  padding: 45px;
 }
.btn{
  color: white;
  background-color: green;
  border-radius: 4px;
}
.size{
  color: rgb(175, 177, 183);
}
.font-size{
  font-size: 20px;
}
/* line2 */
.skills-container{
  display: flex;
  gap: 30px;
}
.bold{
  font-weight: bold;
  font-size: 30px;
}
.lolita{
  padding: 20px;
  box-shadow: 0 auto;
  background-color: whitesmoke;
  box-shadow: whitesmoke;
  border-radius: 16px;
}
.Bangladesh-2{
  margin: 0px 200px 0px 200px;
  border-radius: 16px;
}
/* line-3 */
.lolita-1{
  display: flex;
  gap: 30px;
}
.Bangladesh-3{
  margin: 0px 200px 0px 200px;
  border-radius: 16px;
}
.btn1-text{
  color: white;
  background-color: red;
  font-size: 15px;
  border-radius: 5px;
}
.btn2-text{
  color: white;
  background-color: green;
  font-size: 15px;
  border-radius: 5px;
}
.btn3-text{
  color: white;
  background-color: rebeccapurple;
  font-size: 15px;
  border-radius: 5px;
}
.icon1{
  background-color: blue;
  padding: 15px;
  border-radius: 16px;
}
.icon2{
  background-color: chocolate;
  padding: 15px;
  border-radius: 16px;
}
.icon3{
  background-color: darkolivegreen;
  padding: 15px;
  border-radius: 16px;
}
/* line4 */
.Dr-Muhammad{
  margin: 0px 200px 0px 200px ;
  background-color: whitesmoke;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  width: 835px;
  height: 200px;
  padding: 5px;
  border-radius: 16px;
}
.new{
  margin: 0px 200px 0px 200px;
}
.bangladesh-satelite{
  display: flex;
  gap: 40px;
}
.bangladesh-satelite1{
  margin: 0px 200px 100px 200px ;
  background-color: #ddd;
  border-radius: 16px;
}
.bangladesh-satelite2{
  margin: 0px 200px 0px 200px ;
  background-color: #ddd;
  padding: 25px;
  border: 40px;
  border-radius: 16px;
}
.bangladesh{
  display: flex;
}
.taka{
  text-align: center;
 
}
.taka-number{
  padding: 25px;
  display: flex;
  gap:30px;
  justify-content: space-evenly;


}
.number{
  border: 2px solid black;
  padding: 20px;
  font-size:18px;
  margin: 10px 0;
  display: inline;
  background-color: aquamarine;
}
.amount{
  text-align: center;
  
}
.btn{
  width: 830px;
  height: 50px;
  background-color: white;
  font-size: 15px;
  font: 400;
}
.done{
 text-align: center;
 padding: 25px;
}
.bangladesh-5{
  margin: 0px 200px 0px 200px ;
}
.search{
  text-align: center;
  background-color: rgb(138, 238, 205);
  margin: 0px 200px 0px 200px ;
  gap: 0px;
  border-radius: 16px;

}
.search1{
  text-align: center;
  gap:0px;
  padding: 10px;
  border-radius: 10px;
}
.news{
  background-color: green;
}
.images{
  text-align: center;
  background-color: whitesmoke;
  margin: 0px 200px 0px 200px;
  gap:20px;
  border-radius: 16px;
}